<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.luoyanze.as.mapper.ServerKeyMapper">

    <select id="getServerKey" resultType="cn.luoyanze.as.pojo.ServerKeyPO">
        select * from server_key;
    </select>
</mapper>