<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.luoyanze.as.mapper.UserMapper">
    <insert id="setClientUser">
        insert into user value (#{id}, #{pwd})
    </insert>

    <select id="getClientUser" resultType="cn.luoyanze.as.pojo.ClientUser">
        select * from user where id = #{id}
    </select>

</mapper>